/* Home Style */

body .content-container {
	background: linear-gradient(to bottom, var(--primary-bg-color), var(--primary-bg-color), var(--primary-light-bg-color));
	
	.actionbar {
		background: transparent;
		border-bottom-width: 0;
		
		.left a.btn:hover {
			background-color: #f44336;
		}
	}
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	a {
		width: 36%;
		img {
			width: 100%;
			height: auto;
		}
	}
	.desc {
		font-family: 'Zhi Mang Xing';
		/* font-family: 'Cinzel Decorative'; */
		font-size: 6rem;
		color: #fff;
	}
	
	
}

    