/* Prizes Style */

body {
	background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--primary-light-bg-color));
	/* #f5ac2d */
}
/* 抽獎人數 */
.register {
	/* position: absolute; */
	/* top: 1rem; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	font-family: 'Orbitron';
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: .25rem;
	display: flex;
	align-items: center;
	
	h6 {
		color: #212121;
		font-size: 1.4rem;
		margin: 0;
		margin-right: 1rem;
	}
	.seniority {
		position: relative;
		/* color: #aa00ff; */
		margin-right: 3rem;
		
		&:last-child {
			padding-right: 0;
		}
		
		/*年資*/
		/* span { */
			/* position: absolute; */
			/* top: 0; */
			/* right: 0; */
			/* font-size: .75rem; */
			/* letter-spacing: normal; */
			/* color: #607d8b; */
		/* } */
		&.senior {
			color: #ea80fc;
			&:before {
				content: '5年年資';
				font-size: .75rem;
				letter-spacing: normal;
				color: #fafafa;
				position: absolute;
				top: .8rem;
				right: -3ch;
			}
			&:after {
				background-color: #4a148c;
			}
		}
		&.junior {
			color: #80d8ff;
			&:before {
				content: '1年年資';
				font-size: .75rem;
				letter-spacing: normal;
				color: #fafafa;
				position: absolute;
				top: .8rem;
				right: -2.5ch;
			}
			&:after {
				background-color: #01579b;
			}
		}
		&:after {
			content: '人';
			font-size: .75rem;
			letter-spacing: normal;
			padding: .125rem .25rem;
			border-radius: 50%;
			/* background-color: #f44336; */
			color: #fff;
		}
	}
}
	
/* 獎項 */
.content-wrapper {
	width: 100%;
	min-height: calc(100vh - 64px);
	/* background-color: #fff; */
	padding: 4rem 1rem;
	display: flex;
	justify-content: center;
	
	/* 邊長150px */
	.prize-group {
		display: grid;
		grid-template-columns: repeat(8, 130px);
		grid-template-rows: repeat(3, 225px); /* Row控制調整 */
		grid-column-gap: 8px;
		grid-row-gap: 16px;
		
		.item {
			display: flex;
			flex-direction: column;
			height: 300px; /* width=260px */
			aspect-ratio: cos(30deg); /* 0.86 */
			-webkit-clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0%);
			padding: 2rem 1rem;
			background-color: hsla(8,100%,56%,.65); /* rgba(203, 26, 25, .85); */
			/* background-color: rgba(38, 50, 56, .85); */
			color: #eceff1;
			transition: all .5s;
			text-decoration: none;
			
			&.disabled, &.senior.disabled {
				background-color: rgba(38, 50, 56, .85);
				
				.quantity {
					font-size: 2rem;
				}
				div {
					color: #757575;
				}
			}
			&.senior {
				.title {
					color: #f6ccfd;
				}
			}
			
			&:hover, &.senior:hover {
				/*background-color: #ffecb3;*/
				background-color: var(--secondary-bg-color);
				color: #263238;
				cursor: pointer;
				
				.title, .quantity {
					color: #f44336;
				}
			}
			
			/* Column控制調整, 一個區塊占2 Columns */
			&:nth-child(4n + 1) {
				grid-column-start: 1;
			}
			&:nth-child(4n + 2) {
				grid-column-start: 3;
			}
			&:nth-child(4n + 3) {
				grid-column-start: 5;
			}
			&:nth-child(4n + 4) {
				grid-column-start: 7;
			}
			&:nth-child(4n + 5) {
				grid-column-start: 2;
			}
			&:nth-child(4n + 6) {
				grid-column-start: 4;
			}
			&:nth-child(4n + 7) {
				grid-column-start: 6;
			}
			&:nth-child(4n + 8) {
				grid-column-start: 1;
			}
			&:nth-child(4n + 9) {
				grid-column-start: 3;
			}
			&:nth-child(4n + 10) {
				grid-column-start: 5;
			}
			&:nth-child(4n + 11) {
				grid-column-start: 7;
			}
			&:nth-child(4n + 12) {
				grid-column-start: 2;
			}
			
			.title {
				flex: 1;
				text-align: center;
				font-weight: bold;
				font-size: 2rem;
				color: #18ffff;
			}
			.desc {
				flex: 2;
				text-align: center;
				word-break: break-all;
				font-size: 1.5rem;
				padding: 1rem 0;
			}
			.quantity {
				flex: 1;
				font-family: 'Orbitron';
				font-size: 3rem;
				text-align: center;
				color: #ef9a9a;
			}
			
			.title:before, .quantity:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
	}
}


/* 其它寫法
.content-wrapper {
	width: 100%;
	height: calc(100vh - 64px);
	background-color: #fff;
	padding: 2rem 1rem;
	
	/* 邊長150px /
	.prize-group {
		width: 1080px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
		
		.item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 260px;
			height: 300px;
			-webkit-clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			padding: 2rem 1rem;
			margin: 5px;
			box-sizing: border-box;
			background-color: var(--bg-primary-color);
			color: #000;
			
			&.indend {
				margin-left: 140px;
			}
			&.even {
				margin-top: -70px;
			}
			&:hover {
				background-color: #ffecb3;
				cursor: pointer;
			}
			
			
			.title {
				flex: 1;
				text-align: center;
				font-weight: bold;
			}
			.desc {
				flex: 2;
				text-align: center;
				word-break: break-all;
				font-size: 1.25rem;
			}
			.quantity {
				flex: 1;
				font-family: 'Orbitron';
				font-size: 2.5rem;
				text-align: center;
				color: #f44336;
			}
			
			.title:before, .quantity:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
	}
}
*/



    