/* Raffle Style */

body .content-container .actionbar {
	.left .prize-desc {
		display: flex;
		justify-content: center;
		align-items: center;
		
		div {
			font-size: 1.5rem;
			color: #f44336;
			margin: 0;
			
			&.title {
				padding: 0 .75rem;
				border-radius: .5rem;
				background-color: var(--primary-bg-color);
				color: #fff;
			}
			&:first-child {
				margin-right: .5rem;
			}
		}
	}
	
	.right .quantity {
		font-family: 'Orbitron';
		font-size: 2rem;
		font-weight: bold;
		color: #0d47a1;
		
		.winner-count {
			color: #f44336;
		}
	}
}

.content-wrapper {
	display: flex;
	position: relative;
	padding: 0;
	box-sizing: border-box;
	
	.carousel {
		width: 100vw;
		
		.carousel-control-prev, .carousel-control-next {
			color: #000;
		}
		.carousel-inner {
			height: 100%;
			.carousel-item {
				height: 100%;
				
				.winner {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					font-size: 16rem;
					background-color: var(--primary-bg-color);
					
					.no {
						position: absolute;
						bottom: 0;
						right: 2rem;
						font-size: 3rem;
						color: #b71c1c;
					}
					.name {
						font-size: 20rem;
						padding: 0;
						border-radius: 2rem;
						background-color: transparent;/*#f44336;*/
						color: #fff;
						z-index: 33;
						/* -webkit-box-shadow:0px 0px 65px 15px rgba(132,255,255,0.9); */
						/* -moz-box-shadow: 0px 0px 65px 15px rgba(132,255,255,0.9); */
						/* text-shadow: 0px 0px 65px  rgba(132,255,255,0.9); */
					}
					.prize {
						position: absolute;
						top: 2.5rem;
						left: 2.5rem;
						color:#fff;
						font-size: 5rem;
						/* transform: translateX(-50%); */
						background-color: #f44336;
						padding: 0 2rem;
						border-radius: 4rem;
					}
					.info {
						position: absolute;
						left: 50%;
						bottom: 4rem;
						display: flex;
						justify-content: center;
						align-items: center;
						transform: translateX(-50%);
						
						div {
							margin-right: 2rem;
							font-size: 4rem;
							color: #84ffff;
						}
					}
				}
			}
		}
	}
}



    