/* Home Style */

body .content-container {
	background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--primary-light-bg-color));
	.actionbar {
		background: transparent;
	}
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	img {
		width: 36%;
		height: auto;
	}
	.desc {
		font-family: 'Zhi Mang Xing';
		/* font-family: 'Cinzel Decorative'; */
		font-size: 6rem;
		color: #fff;
	}
	
	
}

    